<!DOCTYPE html>
<html lang="en">
   

    <head>
        {% block head %}
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"/>
        <link rel="stylesheet" href="{{url_for('.static',filename='room.css')}}"/>
        
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
            
        <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
        <script type="text/javascript">
            var websocket_csrf='{{data.csrf_token}}'
            var myUsername = '{{ data.username }}'
            var color='{{data.color}}'
        </script>
        <script src="{{ url_for('.static', filename='socketio.js') }}" defer ></script>
       

        {% endblock %}
      </head>
<body>
    
    <div class="wrapper">
        <div class="left__side">
            <div class="player_header"><a href="{{url_for('main_bp.index')}}"><h2>youtube rooms</h2></a></div>
                <div class="player__div">
                  <iframe id="player" frameborder="0" allowfullscreen="" src="http://www.youtube.com/embed/_OBlgSz8sSM"></iframe>
                </div>
            
         
<div id='log'>
    <form id="form" method="POST" action='#'>
        <input class="form__input" type="text" name="broadcast_data" id="broadcast_data" placeholder="Enter youtube video">
        <input class="form__submit" type="submit" value="Queue">
    </form>
</div>
</div>
<div class="chat__wrapper">
    <div class="chat__header">
      <h2>Live Chat</h2>
    </div>
    
    <div class="chat__messages">
    </div>

    <div class="chat__send__message">
       <input class="chat__send__message__input" type="text" placeholder="Type something...">
    </div>
  </div>
</div>

</body>

</html>