<!DOCTYPE html>
<html lang="en">


<head>
    {% block head %}
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
    <link rel="stylesheet" href="{{url_for('.static',filename='main.css')}}" />
    {% endblock %}
</head>

<body>

    <div class="container">
        <div class="logo"><b>Youtube rooms</b></div>
        <div class="title">Enter username </div>
        <div class="error">
            {% if get_flashed_messages()%}
            {%for message in get_flashed_messages()%}
            {{message}}
            {%endfor%}
            {% endif %}
            {% if form.name.errors%}
            {%for error in form.name.errors%}
            {{error}}
            {%endfor%}
            {% endif %}

        </div>
        <form id="form" method="POST" action=''>
            {{form.hidden_tag()}}
            {{form.name(class_="form__input",placeholder="Enter username")}}
            {{form.submit(class_="form__submit",value='Join room')}}
        </form>
    </div>


</body>

</html>